/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}




@font-face {
    font-family: 'Futura';
    src: url('F../fonts/uturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff2') format('woff2'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}





/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: linear-gradient(180deg, #FFABAB 0%, rgba(255, 172, 172, 0.1) 96.01%);
    --scroll_width: 17px;
    --text_color: #333;
    --font_size: 22px;
    --font_size_title: 36px;
    --font-family: 'Futura';
}


::selection
{
    color: #fff;
    background: #EB5E48;
}

::-moz-selection
{
    color: #fff;
    background: #EB5E48;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}
/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    font-family: var(--font-family);
    font-weight: 400;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    border: none;
    background: none;
}

.wrap
{
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 360px;
    min-height: 100%;    
}


.main
{
    flex: 1 0 auto;
    background: var(--bg);
}


.cont
{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;    
}

.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .65;
    background: #000;
}






.tabs_container {
    padding: 85px 0 43px;
}
.tabs {
    display: flex;
    margin-bottom: 30px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}
.tabs button {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    display: flex;
    width: 100%;
    height: 288px;
    padding: 46px 24px;
    transition: .2s linear;
    text-align: center;
    background: #FFF6F6;
    justify-content: end;
    align-items: center;
    align-content: center;
    color: #333;
}
.tabs button:nth-child(2) {
    justify-content: start;
}
.tabs button .tabs_title {
    font-weight: 600;
    font-size: var(--font_size_title);
    line-height: 115.68%;
    text-align: start;
    text-transform: uppercase;
    margin-left: 33px;
    max-width: 408px;
}
.tabs button:nth-child(2) .tabs_title {
    margin-left: 0;
}
.tabs button:hover {
    color: #FFFFFF;
    background: #1CCC6E;
}
.tab_content {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    pointer-events: none;
    opacity: 0;
}
.tab_content.active {
    visibility: visible;
    overflow: visible;
    height: auto;
    transition: opacity .8s linear;
    pointer-events: auto;
    opacity: 1;
}



header {
    padding-top: 102px;
    margin-bottom: 65px;
}
.header_logo {
    margin-left: 47px;
}
.header_logo a {
    display: inline-block;
    vertical-align: top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 211px;
    height: 50px;
    margin-right: 35px;
}
.slogan {
    display: inline-block;
    vertical-align: top;
    font: normal 25px/44px 'Open Sans';
    background: url(../images/logo.svg) no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    width: 278px;
    height: 49px;
    color: #fff;
    padding-left: 41px;
}



.first-section .cont {
    max-width: 1234px;
}
.first-section_img img {
    width: 100%;
}
.first-section_title {
    font-weight: 600;
    font-size: 85px;
    line-height: 90.7%;
    color: #4A5CFF;
    max-width: 650px;
    width: 100%;
    margin-top: -289px;
    margin-left: 304px;
    letter-spacing: 2.2px;
}
.first-section_text {
    font-weight: 400;
    font-size: 26px;
    line-height: 126.68%;
    color: var(--text_color);
    padding-right: 70px;
    padding-left: 98px;
    margin: 120px auto 0;
    letter-spacing: 0.29px;
}
.text-block h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 36px;
    margin-top: 77px;
    letter-spacing: 1.3px;
}
.text-block h3 {
    font-weight: 600;
    font-size: var(--font_size_title);
    line-height: 120%;
    margin-bottom: 36px;
    margin-top: 50px;
    letter-spacing: 1px;
}
.text-block p {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 150%;  
    margin-bottom: 28px;
}
.text-block p span {
    font-weight: 600;
}
.text-block ol {
    padding-left: 30px;
    list-style: none;
    font-style: italic;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 150%;
    border-left: 2px solid #997676;  
    margin-top: 30px;
    margin-bottom: 30px; 
}
.text-block ol li {
    margin-bottom: 27px;      
}
.text-block blockquote {
    padding-left: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-top: 43px; 
    margin-bottom: 50px;
}
.text-block img {
    width: 100%;
    height: auto;
    margin: 30px auto 0px;
}
.text-block .footnote {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    text-align: center;   
}
.text-block ul {
    list-style: none;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 150%;
    margin-top: 30px;
    margin-bottom: 30px; 
    padding-left: 10px;
}
.text-block ul li {
    margin-bottom: 27px;  
    position: relative;   
    padding-left: 16px;
}
.text-block ul li:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--text_color);
    top: 14px;
    left: 0;
}




footer {
    text-align: center;
    position: relative;
    max-width: 1362px;
    margin: 0 auto;  
}
footer .holder {
    padding: 181px 0 206px;
    background: #fff;
}
footer .index-link {
    font-family: "Cormorant Garamond";
    display: inline-block;
    text-decoration: none;
    max-width: 454px;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    color: var(--text_color);
}
.prev-link,
.next-link {
    position: absolute;
    bottom: 0;
    width: 454px;
    height: 451px;
    padding: 79px 113px;
    text-decoration: none;
    color: #000;
}
.prev-link:hover,
.next-link:hover { 
    color: #fff;
}
.prev-link {
    left: 0;
    background: #1CCC6E;
    text-align: right;
    color: var(--text_color);
}
.next-link {
    right: 0;
    background: #FFABAB;
    text-align: left;
    color: var(--text_color);
}
.prev-link strong,
.next-link strong {
    display: block;
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    display: flex;
    align-items: center;    
    text-align: left;
}
.prev-link strong {
    text-align: right;
}
.next-link {
    padding: 79px 54px 79px 67px;
}
.next-link span {
    font-family: 'Open Sans';
    font-size: 24px;
    color: var(--text_color);
    margin-top: 43px;
    display: block;
}
.next-link svg {
    fill: var(--text_color);
}
.next-link:hover svg {
    fill: #fff;
}
.next-link:hover {
    color: #fff;
}
.next-link:hover span {
    color: #fff;
}




@media print, (max-width: 1230px) {
    .prev-link strong, 
    .next-link strong,
    footer .index-link {
        font-size: 48px;
    }
}
